table, tr, td {
	border: 1px solid black;
}

table#topics_table {
	width: 75%;
	text-align: center;
	border: 2px black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#topics_table td {
	text-align: center;
}

#login {
	position: relative;
	margin: 20px auto;
}

.ui-block-b a, .ui-block-b:link {
	text-decoration: none;
	color: white;

}

div#UserError,
div#PassError {
	color: red;
	font-size: 30%;
	float:left;
}


/*
	--HTML Injection for #LoggedIn 
	--Will be colored and displayed in top right corner
	---Change text/element tags via JS Login.JS file in 
		returnNames(First,Last) function.
*/
#Logged {
	display:none;
}

#LoggedIn {
	color: green;
}

/*
	Styling for Dialog Box 
	in order for it to fit the page
	Note to Self: Fix issue with Navigation Bar Not Darkening
*/
.inactive {
	display: block !important;
}


.ui-dialog {
	 background-color: rgba(34,34,34,0.5) !important;
}

.ui-dialog.ui-overlay-a 
{
    background-image: none;
}

.Desc_One,
.Desc_Two,
.Desc_Three,
.Desc_Four 
{
	overflow: hidden;
}