body {
	margin: 0%;
	padding: 0%;
}

#Our_Team {
	text-align: center;
	background-color: white;
	width: 100%;
}

.image {
	width: 10%;
	height: 10%;
	border-radius: 30%;
	background: url() no-repeat;
	background-position: 75% 20%;

	}

#Creators {
	display: inline-block;
	width: 100%;
	margin: auto auto;
}

#circle_image {
	float: left;
	text-align: center;
	padding-left: 2%;
	
}

img {
 	border-radius: 50%;
    overflow: hidden;
    width: 15%;
    height: 15%;
}

#App_Focus {
	text-align: center;
	background-color: white;
	width: 100%;
}